name: Demo Workflow

on: [push]

jobs:
  example-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print Message
        run: echo "Hello from the terminal! You successfully triggered this action."

      - name: List files
        run: ls -la
